input[type="text"], input[type="number"] {
  background-color: #F5DEB3;
  border: 1px solid #8B5E3C;
  padding: 5px;
  margin: 1px;
}

select {
  background-color: #F5DEB3;
  border: 1px solid #8B5E3C;
  padding: 10px;
  margin: 10px;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  display: inline-block;
  margin: 0.5rem;
  vertical-align: middle;
  background-color: #8B5E3C;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* On desktop, make the buttons circular */
@media only screen and (min-width: 768px) {
  button {
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
}

/* On mobile, make the buttons square */
@media only screen and (max-width: 767px) {
  button {
    border-radius: 0;
    width: 120px;
    height: 50px;
  }
}

#reset-button {
background-color: #720505;
}


header {
  background-color: #8B5E3C;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

table {
  background-color: #ece6e0;
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
  text-align: center;
  font-family: sans-serif;
}

th, td {
  border: 1px solid #8B5E3C;
  padding: 10px;
}

th {
  background-color: #F5DEB3;
}


.players-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 10px 0;
}



body {
  background-image: url('./crokinole.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
 }
